@media screen and (min-width: 650px){
	.top-nav ul{
		padding-left:9%;

	}
	.top-nav ul li, .menu-icon{
		border-top: 1px solid red; /*CHANGE*/
		display:inline-block;
		width:20%;


	}
	.top-nav ul li a{
		color: #DDDDDA; /*CHANGE*/
	}

	.main-content-home{
		margin-top:100px;
	}

	.photo-cell-medium-half {
		width:47%;
		display:inline-block;
	}


}

@media screen and (min-width: 1000px){
	.top-nav ul{
		padding-left:50%;
		padding-top:20px;
	}

	.top-nav ul li, .menu-icon{
		border:0;
		width:24%;
	}	
	
	.logo{
		float:left;
	}

	.main-content-home{
		margin-top:50px;
	}

	.photo-cell-large {
		width:47%;
		display:inline-block;
	}

	/* I'd use something like bootstrap or change the html more, since it's maddening to get these images to align perfectly */
	.photo-cell-large-quarter-left {
		width:22%;
		display:inline-block;
	}

	.photo-cell-large-quarter-right {
		width:22%;
		margin-right:1%;
		display:inline-block;
	}

}